<h1>
  List of all movies
</h1>

<table border="1">
<% @list_of_movies.each do | a_thing| %>
  <tr>
    <td><%= a_thing.id %></td>
    <td>
      <img src="https://robohash.org/
      <%=a_thing.title %>">
    </td>
    <td><%= a_thing.title %></td>
    <td><%= a_thing.year %></td>
    <td><%= Director.where({ :id => a_thing.director_id}).at(0).name %></td>
    
    <td> 
      <a href="/movies/<%= a_thing.id %>">
        Show details
      </a>
    </td> 
  </tr>
<% end %>
</table>
