    
<h1>
  Actor <%= @the_actor.id %> details
</h1>

<a href="/actors" class="btn btn-block btn-outline-secondary">
  Go back
</a>


<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @the_actor.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @the_actor.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @the_actor.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <%= @the_actor.image %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@the_actor.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@the_actor.updated_at) %> ago
  </dd>
</dl>

<h2>Filmography</h2>

<table border=1>
<% @actor_filmography.each do |b_film|%>
  <tr>
    <td>
      <%=b_film.id%>
    </td>
    <td>
      <%=b_film.title%>
    </td>
    <td>
      <%=b_film.year%>
    </td>
    <td>
      <%= Director.where({ :id => b_film.director_id}).at(0).name%>
    </td>
       <td>
      <%= @char_movie_actor_in_id %>
    </td>
    <td>
      <a href="/movies/<%=b_film.id %>">
        Show details
      </a>
    </td>
  </tr>
<% end %>
</table>
